/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2020, 2:03:59 PM
    Author     : jcppoulard
*/

#article-images_id{
    background-color: #E0F2BE;
}

#image-name{
    background-color: #E0F2BE;
}

.tay-liy {
    height: 150px; 
}