.jeneral,.akey{
  min-height: 700px
  height: 100%;

}

.jeneral .col-lg-9 {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 0px;
}
.jeneral .col-lg-3 {
    background: #ffc600;
    margin: 0px;
    padding: 10px;
}
#footer1-a .col-lg-3 {
    background: none;
    margin: 0px;
    padding: 10px;
}
.akey .btn, .btn, a.btn {
    background-color: #D98F05;
    color: white;
    border-radius: 2px;
    padding: 3px 50px;
    margin: 25px 50px;
    float: right;
}
.ping ul li, .ping ul li a{
  list-style-type:none;
}
.btn:hover {
    color: #E11918;
    background: #E11918
    text-decoration: none;
}
.bg-dark {
    background-color:#eae7e2 !important;
}
.eve {
    background-color:#f2f2f2 !important;
    padding: 15px 10px;
}
.eve h2 {
    margin: 0px auto 10px;
    text-align: center;
    border-bottom: 1px solid #e1e0e0;
    font-size: 20px;
    line-height: 1.5;
}
a {
    color:#d98f05;
    text-decoration: none;
}
.h1, .h2, h1, h2 {
    margin-top: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color:#d98f05;
    font-size: 22px;
}
p.dat{
    margin-top: 0;
    margin-bottom: 1rem;
    float: right;
    font-size: 14px;
    color:#999;
}

a:hover {
    color:#caa103;
    text-decoration: none;
    opacity: 0.9;
}
.bg-dark-bottom {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
}

#facebook-pataj .fa-3x {
    font-size: 2em;
    float: right;
    color: #646464;
}
#twitter-pataj .fa-3x {
    font-size: 2em;
    float: left;
    color: #646464;
}
.portfolio-item .card-img-top {
    width: 100%;
    border-radius: 2px;
    height: 300px;
    object-fit: cover;
    margin: 0;
}

.portfolio-item .card-img-top .h-100 {

    height: 100% !important;
}
a.button-jonn {border: 2px solid #ffc107; border-radius: 5px; background: #eae7e2; color:#7a6e58; max-width:500px; margin: 5px auto; display: block; text-align: center; line-height: 1;}
.button-jonn:hover {
    color: #ff0000 !important;
    background-color: #ffc600 !important;
}

.button-jonn .h5, .button-jonn h5 {
    font-size: 1.25rem;
    line-height: ;
    padding-top: 7px;


}

.eve .portfolio-item .card {
    position: relative;
    display: block;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    padding: 0px;
    margin: 0px;
}
.eve .portfolio-item .card-img-top {
    width: 100%;
    border-radius: 2px;
    height: 200px;
    object-fit: cover;
    margin: 0;
}
.eve .portfolio-item .card-text:last-child, .eve .portfolio-item .card-title a {
    margin-bottom: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    color: #d98f05;
}
.portfolio-item .card-body {
    background: none;
    font-weight: lighter;
}
.taylin .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f2f2f2;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.portfolio-item .card-text:last-child, .portfolio-item .card-title  {

    margin-bottom: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 13px;
    color: #35352f;

}
.portfolio-item .card-text:last-child, .portfolio-item .card-title a {
    margin-bottom: 0;
    text-align: left;
    font-weight: lighter;
    font-size: 14px;
    color: #d98f05;
}
.portfolio-item .card-title {
    margin-bottom: 0;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

#social-media-share {
    float: left;
    padding-left: 25px;
    margin-bottom: 30px;

}
.triangle {
  display: none;
    margin-left: 45%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 45px solid #fff;
}
.tracking-status-intransit {
    background-color: #e10303;
}


.cd-timeline-block {
    margin: -13em 0;
}
.projects img {
    border: 4px solid #eee;
    max-width: 100%;
    object-fit: cover;
    background:#000;
    padding-top: 30%;
    max-height: 350px;
}
.col-lg-9 .img-fluid, .col-lg-8 .img-fluid {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.img-fluid {
   width: auto;
   height: 400px;
   object-fit: contain;
}
.tracking-status-intransit {
    background-color:
    #e10303;
}
.detayb {padding-top: 100px;}
.detaya img {margin-top: 00px;}

.tracking-item .tracking-content * {
  color: #333;
}
.tracking-item .tracking-date span *{
    color: #E89007;
}


.navbar-dark .navbar-nav .nav-link:active,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#E84B4D;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    //color:#E10303;
    color: #EA9801;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link, .nav-link .dropdown-toggle:active {
    //color: #403A30;
    color: #E10303;
    font-size: 17px;
    font-weight: 200;
    font-weight: 600;
}

.kote {
    background:  #FFC600;
    margin-top: 10px;
    padding-top: 20px;
}
.kote .h4, .kote h4 {
    color: #fff;
}
.kote .kat {
    margin: 10px auto;
    width: 100%;
    padding: 0;
}
.kat {
    margin: 10px auto;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color:
    #FFC600;
}
/*.mt-4, .my-4 {
    margin-top: 13px !important;
    padding: 0 0 0 0px;
    font-size: 2rem;
}
*/
.col-lg-9 .mt-4, .my-4, .col-lg-8 h1, .col-lg-9 h1{
    margin-top: 13px !important;
    padding: 0 0 0 0px;
    font-size: 22px;
    line-height: 1.2;
}
.mt-4, .my-4 {
    margin-top: 13px !important;
    padding: 0 0 0 0px;
    font-size: 22px;
}
h4.mt-4, h4.my-4{
    padding-left:20px;
    padding-top: 20px;
}


.h1, h1 {
    font-size: 30px;
    font-weight: 400;
    color:#d98f05;
    padding: 0px;
    margin: 10px auto;

}
.carousel-caption *{
  color:#fff;
}
.project-content *{
  color:#f5ae07;
}

.h3, h3 {
    font-size: 20px;
    font-weight: 400;
    color:#d98f05;
    padding: 0px;
    margin: 10px auto;
}
.h4, h4 {
    font-size: 18px;
    font-weight: 400;
    color:#d98f05;
    padding: 0px;
    margin: 10px auto;
}
.carousel-item {
    height: 60vh;
    min-height: 400px;
    background: no-repeat center center scroll;
        background-image: none;
        background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a img.light-logo{
  vertical-align: middle;
  border-style: none;
  height: 60px;
}
.navbar-brand {
    display: inline-block;
    padding-top: .0rem;
    padding-bottom: .0rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: 1;
    white-space: nowrap;
}
.card-header::before {
//  //content: url(https://slogipam.com/pyepoudre/web/assets_files/images/Bis.jpeg) ;
}
.card-header {
    //padding: .75rem 1.25rem;
    padding: 10px;
    margin-bottom: 0;
    background-color: #eae7e2;
    overflow: hidden;
    color: #ea9801;
}

.kote1 .card-header {
    //padding: .75rem 1.25rem;
    padding: 10px;
    margin-bottom: 0;
    background-color: #eae7e2;
    overflow: hidden;
    color: #ea9801;
}
.nouvel {
    margin: 0px;
    padding: 0px;
}

.nouvel .card-header {
  padding: 10px;
  margin-bottom: 0;
  background-color: #eae7e2;
  overflow: hidden;
  color:#fff;
}
.nouvel .card-header a{
  color: #FF0202;
}
.akey .card-header {
    padding: .75rem 1.25rem;
    //padding: 10px;
    background-color:#FBF2E4;
    overflow: hidden;
    color: #e10303;
    max-height: 200px;
    height: 100%;
    object-fit: cover;
}
.akey .atik-detay {
    display: inline-block;
    float: left;
    margin: 5px 10px;
    border-radius: 5px;
}
.akey .img-fluid{
    display: inline-block;
    float: left;
    max-width: 500px;
    margin: 5px 10px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.8rem;
    color:#665;
    font-size: 15px;
}
.social .fa-3x {
    font-size: 2em;
    margin: 5px 7px;
    color: #8e713a;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color:rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
    display: none;
}

.site{
  background: #333;
}

.btn-secondary{
    color:#e10303;
    background-color:#ecd9bd;
    border:none;
}
/*.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1px;
    list-style: none;
    background-color:#eae7e2;
    border-radius: .25rem;
    font-size: 13px;
}
*/
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1px;
    list-style: none;
    background-color:
#fff;
border-radius: 0px;
font-size: 13px;
border-bottom: 1px solid
    #ccc;
}

.col-lg-11 .kat .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 300px;
    object-fit: cover;
}

.col-lg-9 > .col-lg-9 >.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 300px;
    object-fit: cover;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 200px;
    object-fit: cover;
}
.nouvel .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 300px;
    object-fit: cover;
}
figure {
    margin: 0 0 1rem;
    float: left;
    margin: 10px;
    border-radius: ;
}
.portfolio-item .card-text:last-child *{
  color:#333;
}
.project-content span {
    font-size: 15px;
    line-height: 1.5;
    color: #d98f05;
}
.card-text:last-child {
    margin-bottom: 0;
    text-align: justify;
}
.list-unstyled li {
    padding-left: 10px;
    list-style: none;
    line-height: 2;
    border-bottom: none;
    font-size: 15px;
}
.list-unstyled li::before {
  content: "-  ";
  color: #FDCA17;
  font-weight: bold;
}
.ping .list-unstyled li::before {
  content: "";
  color: #FDCA17;
  font-weight: normal;
}
@media only screen and (min-width: 992px) {
  .jeneral,.akey{
    min-height: 700px
    height: 100%;

  }

.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 1300px;
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
 .container {
    max-width: 1300px;
    padding: 0px;
  }
  .jeneral,.akey{
    min-height: 700px
    height: 100%;

  }
}
